<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DepartureStation" value="RĪGA PASAŽIERU"/>
    <add key="ArrivalStation" value="MASKAVA RĪGAS"/>
    <add key="DepartureDate" value="19.01.2020"/>
    <add key="ReturnDate" value="20.01.2020"/>
    <add key="PastDate" value="20.01.2020"/>
    <add key="PassengerFirstName" value="111111"/>
    <add key="PassengerLastName" value="22222222"/>
    <add key="PassengerPassport" value="12345"/>
    <add key="QuestionName" value=""/>
    <add key="QuestionTheme" value=""/>
    <add key="QuestionEmail" value="ugandan@gmail.com"/>
    <add key="Question" value=""/>
  </appSettings>
</configuration>