<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DepartureStation" value="RĪGA PASAŽIERU"/>
    <add key="ArrivalStation" value="MASKAVA RĪGAS"/>
    <add key="DepartureDate" value="19.01.2020"/>
    <add key="ReturnDate" value="20.01.2020"/>
    <add key="PastDate" value="20.01.2020"/>
    <add key="PassengerFirstName" value="Dmitry"/>
    <add key="PassengerLastName" value="Automate"/>
    <add key="PassengerPassport" value="fd12345"/>
    <add key="QuestionName" value="DIMITRY"/>
    <add key="QuestionTheme" value="Support"/>
    <add key="QuestionEmail" value="ugandan@gmail.com"/>
    <add key="Question" value="WHY ARE U RUNNING"/>
    
  
  </appSettings>
</configuration>